@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-secondary-light antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-secondary;
  }

  button,
  .btn,
  [role="button"],
  .button-primary,
  .button-secondary {
    @apply font-heading normal-case !important;
  }
}

@layer utilities {
  .animate-in {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  .slide-in-from-top-2 {
    animation-name: slideInFromTop;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}